{% extends "base.html" %}
{% block content %}
<div class="ui fluid right aligned container">
  <div class="ui small basic icon buttons">
    <button id="add_new_robot" class="ui big button"><i class="add big green icon"></i></button>
    <button class="ui big button"><i class="pencil alternate big orange icon"></i></button>
    <button class="ui big button"><i class="remove big red icon"></i></button>
    <button id="lookfor_registered_robot" class="ui big button"><i class="zoom-in big icon"></i></button>
    <button class="ui big button"><i class="download big blue icon"></i></button>
    
  </div>
</div>

  

<h1 style="margin-top:20px" class="ui header centered">Logs</h1>
<br/>
<div  class="ui column centered grid">
<div id="logs">
  <div>

</div>

<div class="ui hidden divider"></div>
    

    
    

{% endblock %}



