{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">Map</h1>

    <div class="ui column centered grid">

        <div id="viewport">
            <canvas id="canvas_layer1_index" style="z-index: 1;"></canvas>
            <canvas id="canvas_layer2_index" style="z-index: 2;"></canvas>  
            <canvas id="canvas_layer3_index" style="z-index: 3;"></canvas>
            <canvas id="canvas_layer4_index" style="z-index: 4;"></canvas>   
            <canvas id="canvas_layer5_index" style="z-index: 5;"></canvas>  
        </div>
   
    </div>

    <br/><br/>
    <div class="ui column centered grid">
         X: <span id="x_on_map_index" style="padding-right: 35px">0</span> Y: <span id="y_on_map_index" style="padding-right: 35px">0</span>
    </div>


    <div class="ui column centered grid">
        <table id="table_chronology" class="ui celled table">
            <thead>
              <tr><th>TimeStamp</th>
              <th>Robot</th>
              <th>Position</th>
              <th>Distance</th>
            </tr></thead>
            <tbody id="body_chronology">
              
            </tbody>
          </table>
    </div>
    

{% endblock %}



